/* .bell-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10;
} */
/* .app-bar-container{
    background-color: red;
} */

/* .app-bar-container{
    position: relative;
}

.bell-icon{
    position: absolute;
    z-index: 10;
}
.modal-div{
    position: absolute;
} */

/* Your other CSS styles */


.app-bar-container {
    position: relative;
}

.bell-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10;
}

.modal-div {
    position: absolute;
    top: 3rem;
    /* Adjust this value to control the vertical position of the modal */
    right: 1.8rem;
    /* Adjust this value to control the horizontal position of the modal */
    z-index: 9;
    /* Use a value less than bell-icon's z-index to place the modal behind the bell icon */
    min-width: 600px;
    max-width: 600px;
}

.active {
    height: 7px;
    border-radius: 50%;
    width: 7px;
    background: red;
    border: 1px solid white;
    position: absolute;
    top: -1px;
    right: -1px;
}